body{
    /*background: url(../img/wireframe.jpg);*/
    /*background-repeat: no-repeat;*/

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:relative;
}

#HOME{
  margin: 0 auto;
}

#inicio img{
    width: 75px;
    height: 50px;
}
#menuNav button{
    width: 50px;
    height: 50px;
    background-image: url(../img/sample.jpg);
    cursor: pointer;
}
#listaMenu{
    display: none;
}
.centerText{
  margin:5px;
  text-align: center;
}


.title{
  display:flex;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content:space-between;
  /*width:360px;*/
  height:60px;
  margin:0 auto;
  background:darkgrey;
  position: sticky;
  top: 0;
}
/*#proyectos{
    text-align: center;
  align-items: center;
}*/




#textBox{
  width: 320px;
    height: 170px;
}
#FcenterImg{
   width: 60px;
       display: block;
  margin-left: auto;
  margin-right: auto;
}
.bar{
    display:flex;
  align-items: center;
  justify-content:space-evenly;
  margin:5px;
  background-color: darkgrey;
}
.bar Img{
  width: 30px;
}
#footer{
  background-color: lightgrey;
}



@media only screen and  (min-width: 320px) and (max-width: 540px)
{
  #p1{
  text-align: center;
  align-items: center;
}
#ImgPortada{
display: none;
}
.proyecto{
  width: 160px;
    height: 315px;
    background:lightgrey;
}
.proyecto img{
  width: 140px;
    height: 95px;
      display: block;
  margin-left: auto;
  margin-right: auto;
}
.persona img{
  width: 130px;
    height: 170px;
}
.parallel{
  display:flex;
  align-items: center;
  justify-content:space-evenly;
  margin:10px;
}
}

@media only screen and (min-width: 541px) and (max-width: 1024px)
{ 
#p1{
  text-align: center;
  align-items: center;
}
#logoTop{

}
#ImgPortada{
    width: 100%;
    height: 400px;
}
#ImgPortadaDown{
align-items: center;
    width: 100%;
    height: 150px;
}
.proyecto{
  width: 250px;
  height: 315px;
    background:lightgrey;
}
.proyecto img{
  width: 140px;
    height: 95px;
      display: block;
  margin-left: auto;
  margin-right: auto;
}
.persona {
  display: flex;
  margin:10px;
  justify-content:space-around;
  align-items: center;
  text-align: left;
}
.persona p{
width: 300px
}
.persona img{
  width: 130px;
    height: 170px;
}
.parallel{
  /*display:flex;
  align-items: center;
  justify-content:space-evenly;*/
  margin:10px;
}
}

@media only screen and (min-width: 1025px)
{
.proyecto{
  width: 160px;
    height: 315px;
    background:lightgrey;
}
.proyecto img{
  width: 140px;
    height: 95px;
      display: block;
  margin-left: auto;
  margin-right: auto;
}
.persona img{
  width: 130px;
    height: 170px;
}
.parallel{
  display:flex;
  align-items: center;
  justify-content:space-evenly;
  margin:10px;
}
}
